[Desktop Entry]
Version=R2020a
Type=Application
Terminal=false
MimeType=text/x-matlab
Exec=matlab -desktop
Name=MATLAB
Icon=matlab
Categories=Development;Math;Science
Comment=Scientific computing environment
StartupWMClass=sun-awt-X11-XFramePeer
StartupNotify=true
