[Desktop Entry]
Exec=sh -c "\$BROWSER --app\=https://notion.so"
Icon=notion
Terminal=false
Type=Application
Name=Notion
Comment=The all-in-one workspace for your notes and tasks
Categories=Office;Utility;
StartupNotify=true
StartupWMClass=Notion
MimeType=x-scheme-handler/notion
